.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: calc(100vh-80px);
}

.animation {
    display: flex;
    flex-direction: column;
}

.home-content {
    display: flex;
    flex-direction: column;
}